:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
  --color-white: hsl(0, 0%, 100%);
  --color-change: hsl(251, 100%, 57%);
  --color-transition: hsl(245, 83%, 68%);
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.img-bg {
  background-image: url(./images/pattern-background-desktop.svg);
  background-color: var(--color-pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.content-wrap {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 31px 65px 92px -37px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 31px 65px 92px -37px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 31px 65px 92px -37px rgba(0, 0, 0, 0.45);
}

.img-container {
  width: 400px;
  height: 200px;
  margin-bottom: 25px;
}

.image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-very-pale-blue);
  height: 100px;
  width: 340px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.icon-container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
}

.plan-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 45px;
}

.price-container {
  display: flex;
  align-items: center;
}

.btn-change-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

#btnChange {
  background-color: var(--color-very-pale-blue);
  text-decoration: underline;
  color: var(--color-bright-blue);
  font-weight: bold;
  height: 30px;
  
}

#btnChange:hover {
  text-decoration: none;
  color: var(--color-transition);
  cursor: pointer;
}

.transition{
  transition: background-color 2s;
}

.transition:hover{
  background-color: var(--color-transition);
  cursor: pointer;
}

.btnProceed {
  width: 340px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-bright-blue);
  color: var(--color-white);
  font-weight: bold;
  font-size: 15px;
}

#btnCancel{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-white);
  color: var(--color-desaturated-blue);
  font-weight: bold;
  font-size: 15px;
}

#btnCancel:hover{
  color: var(--color-dark-blue)
}

.main-header{
  color: var(--color-dark-blue);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-para{
  color: var(--color-desaturated-blue);
  font-size: 15px;
}

.last-para{
  margin-bottom: 15px;
}

.second-header{
  font-size: 17px;
  color: var(--color-dark-blue);  
}

.price{
  color: var(--color-desaturated-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
